.bloowatch-product__detail-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 50px 0px;
}

.bloowatch-product__image-content {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.bloowatch-product__image {
  width: 260px;
  background-color: white;
  padding: 10px 0px;
}

.bloowatch-product__image img{
  width: 80px;
  height: 250px;
} 

.bloowatch-product__text-detail {
  height: 400px;
  width: 300px;
  text-transform: uppercase;
  text-align: left;
}


.bloowatch-product__price {
  font-size: 13px;
  margin: 10px 0px;
  width: 40px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(2, 29, 175);
  padding: 2px 6px;
}

.bloowatch-product__category {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
  font-size: 12px;
}

.bloowatch-product__cart {
  margin: 40px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.bloowatch-product__cart p {
  border: 1px solid rgb(231, 231, 231);
  padding: 4px 10px;
}

.bloowatch-cart__button {
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid rgb(217, 217, 217);
  font-weight: 600;
}
.bloowatch-cart__button:hover {
  background-color: rgb(2, 29, 175);
  color: white;
  cursor: pointer;
}
.bloowatch-cart__disabled-button {
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid rgb(217, 217, 217);
  font-weight: 600;
  cursor: not-allowed;
}

.bloowatch-cart__icons-wrapper button{
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .bloowatch-product__image-content {
    width: 200px;
    height: 300px;
  }
  .bloowatch-product__image {
    width: 160px;
  }
  .bloowatch-product__image img{
    width: 60px;
    height: 200px;
  }
  .bloowatch-product__text-detail {
    height: 300px;
    width: 200px;
  }
  .bloowatch-cart__button {
    text-transform: uppercase;
    padding: 10px 5px;
    background-color: white;
    border: 1px solid rgb(217, 217, 217);
    font-weight: 600;
  }
}

@media only screen and (max-width: 425px) {
  .bloowatch-product__detail-wrapper {
    flex-direction: column;
    gap: 10px;
  }
}

