.bloowatch-header__wrapper {
  width: 100%;
  padding: 15px;
  box-shadow: 0px 1px 6px black;
}

.bloowatch-header__logo {
  width: 15%;
}

.bloowatch-header__logo img {
  width: 100%;
}

.bloowatch-header__content {
  display: flex;
  justify-content: space-between;
}

.bloowatch-header__nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding: 0px 10px;
}

.bloowatch-header__nav-list-item {
  color: black;
  text-decoration: none;
}

.bloowatch-header__nav-list-item h4 {
  color: black;
}

.bloowatch-header__dropdown {
  position: relative;
}

.bloowatch-header__dropdown-name {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.bloowatch-header__dropdown-content {
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  top: 130%;
}

.bloowatch-header__dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.bloowatch-header__dropdown-content a:hover {
  background-color: grey;
}

.bloowatch-screen__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.bloowatch-mobile-screen__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.bloowatch-header__mobile-view {
  display: none;
}

.bloowatch-header__mobile-menu {
  display: none;
}

@media only screen and (max-width: 475px) {
  .bloowatch-header__wrapper {
    padding: 15px 0px;
  }
  .bloowatch-header__nav-list {
    display: none;
  }
  .bloowatch-header__mobile-view {
    display: block;
  }
  .bloowatch-header__mobile-menu {
    font-size: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    margin-top: 35px;
    width: 100%;
    list-style: none;
    text-align: left;
    z-index: 2;
  }
  .bloowatch-header__dropdown-content {
    top: 100%;
    width: 100%;
  }

  .bloowatch-header__dropdown-name {
    padding: 0px 12px;
  }

  .bloowatch-header__mobile-menu li{
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid rgb(250, 250, 250) ;
  }

  .bloowatch-header__mobile-menu li:hover{
    background-color: grey;
  }

  .bloowatch-header__mobile-menu a{
    display: block;
    width: 100%;
    padding-left: 16px;
  }
  
}