.bloowatch-pagination__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  /* border: 2px solid red; */
  max-width: 71%;
  margin-bottom: 20px;
}

