.bloowatch-user-verification__wrapper {
  padding: 60px 0px;
  display: flex;
  justify-content: center;
}

.bloowatch-user-verification__form {
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0,0.5) ;
  min-width: 300px;
  padding: 20px 10px;
  text-align: left;
  color: var(--primary);
}

.bloowatch-user-verification__form input {
  width: 100%;
  padding: 8px 8px 8px 25px;
  border-radius: 4px ;
  border: 1px solid rgb(235, 235, 235);
}

.bloowatch-user-verification__form button {
  width: 100%;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: 600 ;
}

.bloowatch-user-verification__token {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.bloowatch-user-verification__token-icon {
  position: absolute;
  left: 3px;
  color: rgb(211, 211, 211);
  font-size: 20px;
}